.navbar-brand {
    margin:auto;
    margin-left: -10px;
    float: left;
}
#navlink{
    padding: 13px;
    float:right;
    display: flex;
}
@media (min-width: 576px){
#navlink {
         padding:22px;
         display: initial;
         }
}
#navlink a{
    color: #777;
    padding: 3px;
    font-size: 12px;
}
#navlink li ::after{
    content: ' /';
}
#navlink li:last-child ::after{
    content: '';
}
body{
    font-family: 'Lato, sans-serif';
}
.row h1{
    letter-spacing: 1px;
    color: #333;
    line-height: 1;
    padding: 0;
    margin: 0;
}

/*@media screen and (max-width: 767px) {
    .nav { padding-top: 60px; }
}*/
@media screen and (min-width:768px) and (max-width: 991px) {
    #title { padding-top: 110px; }
}
@media screen and (min-width: 992px) {
    #title{ padding-top: 60px; }
}*/

#hero-section{
    margin-top: 0px;
}


/* .navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: black;
    width: 100%;
    padding-bottom: 50px;
} */
/*.Page-title{
    position: relative;
    padding-top: 0;
    padding-bottom: 0;
}*/
/*.container h1{
    padding: 0;
    margin: 0;
    line-height: 1;
    letter-spacing: 1px;
    color: #333;
    font-size: 28px;
    text-transform: uppercase;
}
.container span {
    display: block;
    color: #777;
    font-size: 15px;
    margin-top: 5px;
    text-transform: uppercase;

}
.sidemenu{
    padding-bottom: 0px;
    margin: 0;
}
.maintitle{
    display: inline;

}*/
/* .breadcrumb{
    float: right;
}
.breadcrumb li{
    display: inline;
}
.breadcrumb a{
    font-size: 14px;
    color: #777;
    padding-bottom: 40px;
} */
/* .container-fluid{
    float: right;
} */
/*.boxes{
    display: block;
    padding-bottom: 20px;
    padding-left: 30px;
    position: relative;
} */
/* .box{
    margin-right: 2%;
    width: 30%;
    height: 250px;
    margin-bottom: 0;
} */
/* .slides{
    padding-top: 150px;
}*/
@media (min-width: 576px){
.jumbotron {
    padding: 5rem 1rem;
    }
}
.jumbotron {
    padding: 5rem 1rem;
}
#myCarousel{
    padding-top: 100px;
    margin-top: 0;
    position: relative;
}
/*.carousel-inner img {
    width: 50%;
    height: 50%;
}*/
#myCarousel .item{ 
    height: 500px;
    max-width: 100%;
}
/*#slide1{
    background: url('../../images/services.png') top center no-repeat;
    background-color:lightgray;
}
#slide2{
    background: url('../../images/How-To-Install-Instructure-Canvas-LMS-For-Free-696x392.png')  center no-repeat;    
    background-color:lightgray;
}
#slide3{
    background: url('../../images/iphone7.png') top center no-repeat;
    background-color:lightgray; 
/
.text h3{
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 0;
    color: #333;
}
.text span{
    display: block;
    margin-top: 5px;
    color: #444;
    text-transform: none;
}
.text p{
    margin-top: 17px;
    line-height: 1.8;
    color: #999;
    justify-content: center;
}
img{
    max-width: 100%;
}
.para{
    width: 30%;
    margin-bottom: 0;
}*/
 .top{
    padding-top: 20px;
} 
.para h3{
    font-size: small;

}
.bottom-line {
      background-color: cornflowerblue;
      margin-bottom: 0;
      height: 107px;
      text-align: center;
      padding-top: 23px;
      color: white;
      font-size: 25px;
      text-decoration: none;
}
.bottom-line a{
      color: white;
      text-decoration: underline;
}
footer{
    background-color:black;
    float: left;  
    height: 100px;;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    font-size: 13px;
}
footer p{
    margin: 0;
    color: white;
}
.copyright-links a{ 
    border-bottom: 1px dotted white;
}
.social-links{
    float:right;
}
.social-links li{
    display: inline;
    color:white;
    font-size: 20px;
}
footer nav{
    display: inline;
}

.align {
padding:0px;
}

.services-row{
    padding: 2px 0px 25px 59px;
}
.servicesimg{
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    max-width: 85%;
    border-style: none;
}
.services-row h3{
    font-size: 16px;
    font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 0;
	color: #333;
    padding: 18px 0px 10px 0px;
}
.img-info{
    margin: 0 0 10px;
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding: 2px 45px 0px 0px;
    font-size: 14px;
}